/** =============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@400;500;600&family=Roboto+Condensed:wght@300;400&display=swap");

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url(../fonts/Raleway-Medium.ttf), url(../fonts/Raleway-SemiBold.ttf),
    url(../fonts/Raleway-Bold.ttf);
}

/** =============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /** Social Media icons colors */

  --color-whatsapp: #00bd2c;
  --color-twitter: #1da1f2;
  --color-instagram: #833ab4;
  --color-linkedin: #0a66c2;

  /** Base colors */

  --color-main: #ff4c00;
  --color-base: rgb(29, 55, 68);
  --color-base-alt: rgba(29, 55, 68, 0.4);
  --color-middle: rgb(37, 51, 60);
  --color-light: rgb(30, 82, 113);
  --color-green: #08f1af;

  /** ========== Colors ==========*/
  /** Change favorite color to match images */
  /** Green dark 190 - Green 171 - Green Blue 200*/
  /* --hue-color: 163; */
  --hue-color: 200;

  /** HSL color mode */

  --first-color: hsl(var(--hue-color), 100%, 25%);
  --first-color-second: hsl(var(--hue-color), 100%, 25%);
  --first-color-alt: hsl(var(--hue-color), 100%, 15%);
  --title-color: hsl(var(--hue-color), 100%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #fff;
  --black-color: #000;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  --background-slider: transparent;
  --background-slider-gradient: transparent;
  /* --background-slider-gradient: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  /* --box-shadow-slider: -1rem 0 1.5rem #e3e3e3; */
  --box-shadow-slider: 0 0 0.5rem #e3e3e3;

  /** ========== Font and typography ==========*/

  --body-font: "Open Sans", sans-serif;
  /* --title-font: "Raleway", sans-serif; */
  --title-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --exception-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --minimal-font-size: 0.65rem;

  /** ========== Font weight ==========*/
  --font-regular: 300;
  --font-medium: 500;
  --font-semi-bold: 600;

  /** ========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mt-2-5: 2.5rem;

  /** ========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-video: 1000;

  /** ========== Hover overlay ==========*/
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/** ========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 54%, 12%);
  --title-color: hsl(var(--hue-color), 24%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 29%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --box-shadow-slider: 0 0 1.5rem hsl(190, 54%, 12%);
}

/** ========== Button Dark/Light ==========*/
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/** =============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/** use by Scrollreveals function */
.main {
  overflow-x: hidden;
}

.ri-arrow-right-line {
  color: var(--white-color);
}

/** =============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/** =============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /** Temporal, solo para codificar bien el header, luego se sustituye por "transparent" */
  /* background-color: var(--first-color); */
  background-color: transparent;
}

/** =============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--white-color);
  text-transform: uppercase;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

.nav__oculto {
  display: none;
}

/** Smartphones styles: Codificación Menu de navegación  */

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    /** Temporal, solo visualizamos el menu al inicio de la programación */
    /* right: 0; */
    /** Desaparecemos el menu y lo manipulamos con una App JS y la clase "show-menu" codificada más abajo */
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
    padding: 3rem;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/**  Show Menu */

.show-menu {
  right: 0;
}

/** Change background header */

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}

/** Marca el navegador activo en un momento dado */

/** Active link */
.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
}

/** ========== Button Dark/Light ==========*/
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/** =============== HOME ===============*/

/** ======= Home Banner video split ======*/
.videoBx {
  /** ¡Ojo! Dos de los secretos.. */
  background: hsl(200, 29%, 12%);
  min-height: 220vh; 
}

.videoSplit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.videoSplit .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoSplit .side video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /** No importa el tamaño del vídeo, lo adapta a su box padre */
  object-fit: cover;
}

.videoSplit .side#side1 {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.videoSplit .side#side2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

/** New! Colocamos una sombra encima del vídeo para resaltar los textos */
.side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-base-alt);
  z-index: var(--z-video);
}
/** ------ End Banner video split ------*/

/** ===== Home Banner background image ====*/
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}
/** ------ End Banner background image ----*/

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home__data-subtitle,
.home__data-title,
.home__social-link,
.home__info {
  color: var(--white-color);
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
}

.home__data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

.home__data-title span {
  /* text-transform: uppercase; */
  font-size: var(--h1-font-size);
}

.home__social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  /* flex-direction: row;
  column-gap: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem; */
}

.home__social-link {
  font-size: 1.2rem;
  width: max-content;
}

/** ------ ¡New! Social Media icons ------ */

.home__social-link .fab.fa-twitter:hover {
  color: var(--color-twitter);
}

.home__social-link .fab.fa-instagram:hover {
  border-radius: 5px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.home__social-link .fab.fa-whatsapp:hover {
  font-size: 20px;
  color: var(--color-whatsapp);
}

/** ------ ¡end! Social Media icons ------ */

/* .home__info {
  background-color: transparent;
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 228px;
}

.home__info-title {
  display: block;
  font-size: var(--h3-font-size);  
  margin-bottom: var(--mb-0-75);
  font-family: var(--title-font);
  letter-spacing: 1.5px;
}

.home__info-overlay {
  overflow: var(--img-hidden);
}

.home__info-img {
  width: 145px;
  transition: var(--img-transition);
}

.home__info-img:hover {
  transform: var(--img-scale);
} */

/** =============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  border-radius: 3px;
  padding: 1rem 2rem;
  transition: 0.3s;
  border: none;
  outline: none;
  box-shadow: none;
}

.button:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.button--link {
  padding: 0.5rem;
}

/** =============== ABOUT US part 1===============*/

.about__data {
  text-align: center;
}

.about__title {
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.about__container {
  row-gap: 2.5rem;
}

.about__description {
  margin-bottom: var(--mb-2);
}

.home__info-button {
  width: 80px;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 3px;
}

.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about__img-overlay {
  overflow: var(--img-hidden);
}

.about__img-one {
  width: 180px;
  border: 1px solid rgba(54, 51, 51, 0.096);
  box-shadow: 0 0 10px rgba(54, 51, 51, 0.295);
}

.about__img-two {
  width: 220px;
  border: 1px solid rgba(54, 51, 51, 0.096);
  box-shadow: 0 0 10px rgba(54, 51, 51, 0.205);
}

.about__img-one,
.about__img-two {
  transition: var(--img-transition);
}

.about__img-one:hover,
.about__img-two:hover {
  transform: var(--img-scale);
}

.about__info-button {
  width: 160px;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 3px;
}
/** =============== services ===============*/

.services__card {
  position: relative;
  width: 200px;
  overflow: var(--img-hidden);
}

/** Se inserta el contenido o texto dentro de la Card  */
.services__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.services__title,
.services__description {
  color: var(--white-color);
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

/**  Los span se convierten a Block para manipular su tamaño y margenes */
.services__description {
  display: block;
  font-size: var(--smaller-font-size);
}

.services__img {
  transition: var(--img-transition);
}

.services__img:hover {
  transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/** =============== EXPERIENCE ===============*/
.experience__container {
  row-gap: 2.5rem;
  justify-content: center;
  justify-items: center;
}

.experience__content {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-items: center;
  padding: 0 2rem;
}

.experience__number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-5);
}

.experience__description {
  font-size: var(--small-font-size);
}

.experience__img {
  position: relative;
  padding-bottom: 2rem;
}

.experience__img-one,
.experience__img-two {
  transition: var(--img-transition);
}

.experience__img-one:hover,
.experience__img-two:hover {
  transform: var(--img-scale);
}

.experience__overlay {
  overflow: var(--img-hidden);
}

.experience__overlay:nth-child(1) {
  width: 263px;
  margin-right: 2rem;
}

.experience__overlay:nth-child(2) {
  width: 120px;
  position: absolute;
  top: 2rem;
  right: 0;
}

/** start Clientes (cinta transportadora) */

.contenedor-clientes {
  position: relative;
  width: 100%;
  height: 20rem;
  margin: auto;
  overflow: hidden;
  border: none;

  /** Estilos específicos del carrousel */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-slider);
}

.box-titulo-clientes {
  position: relative;
  width: 30rem;
  height: 18rem;
  font-family: var(--font-menu);
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--background-slider);
  color: var(--color-titulos);
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.1em;
  transform: rotate(-25deg);
  box-shadow: var(--box-shadow-slider);
}

.posicion-box-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.posicion-box-texto .parrafo2-clientes {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--color-subtitulos);
  margin: 10px 0;
}

/* Animacion */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: var(--background-slider);
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: transparent;
  content: "";
  height: 250px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
/** Se define el tamaño de las imágenes en la cinta transportadora */
.slider .slide {
  width: 250px;
  height: 250px;
  margin: 40px 0;
}

.slide img {
  width: 150px;
  height: 150px;
  border-radius: 25%;
}

/** End Clientes (Cinta transportadora) */

/** =============== VIDEO ===============*/
.video__container {
  padding-bottom: 1rem;
}

.video__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.video__content {
  position: relative;
  max-height: 89%;
}

.video__button {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 3px;
}

.video__button-icon {
  font-size: 1.2rem;
}

/** =============== NOSOTROS ===============*/
.nosotros {
  max-width: 100%;
  margin: 0 auto;
}
.nosotros__info {
  position: relative;
  background-color: transparent;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nosotros__info-overlay {
  display: grid;
  overflow: var(--img-hidden);
}

.nosotros__info-img {
  place-items: center;
  transition: var(--img-transition);
}

.nosotros__info-img:hover {
  transform: var(--img-scale);
}

/** =============== PROYECTOS ===============*/

.place__container {
  /* grid-template-columns: repeat(2, max-content); */
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr;
  justify-content: center;
}

.place__card,
.place__img {
  height: 150px;
  /* height: 230px; */
  /* height: 100%; */
}

.place__card {
  position: relative;
  overflow: var(--img-hidden);
}

.place__card:hover .place__img {
  transform: var(--img-scale);
}

.place__img {
  transition: var(--img-transition);
}

.place__button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.75rem 1rem;
}

/** =============== SUBSCRIBE ===============*/
.subscribe__bg {
  background-color: var(--first-color-second);
  padding: 2.5rem 0;
}

.subscribe__title,
.subscribe__description {
  color: var(--white-color);
}

.subscribe__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.subscribe__form {
  position: relative;
  background-color: var(--input-color);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  flex-direction: column;
}

.subscribe__input {
  width: 100%;
  padding-right: 0.5rem;
  background-color: var(--input-color);
  color: var(--text-color);
}

.subscribe__input::placeholder {
  color: var(--text-color);
}

/** Email Validation */

.validaEmail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#text {
  position: relative;
  display: block;
  color: #00ff15;
  font-weight: 300;
  font-style: italic;
  padding: 5px;
  text-align: center;
  width: 40%;
  inset: 0;
  margin: 0 auto;
  margin-top: 10px;
}

#form.invalid .validaEmail:before {
  content: "";
  position: absolute;
  right: 37%;
  top: 35%;
  width: 24px;
  height: 24px;
  background: url(.././img/invalid.png);
  background-size: cover;
  z-index: 1000;
}

#form.valid .validaEmail:before {
  content: "";
  position: absolute;
  right: 37%;
  top: 35%;
  width: 24px;
  height: 24px;
  background: url(.././img/valid.png);
  background-size: cover;
  z-index: 1000;
}

/** =============== clientes (sponsors) =============*/
/* .clientes__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  row-gap: 3.5rem;
}

.clientes__content:hover .clientes__img {
  filter: invert(0.5);
}

.clientes__img {
  width: 90px;
  filter: invert(0.7);
  transition: var(--img-transition);
} */

/** =============== FOOTER ===============*/

/** Separar el footer del copyright */
.footer__container {
  row-gap: 5rem;
}

/** -------- Cuerpo del Footer ------ */
.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__title,
.footer__subtitle {
  font-size: var(--h3-font-size);
}

.footer__title {
  margin-bottom: var(--mb-0-5);
}

.footer__description {
  margin-bottom: var(--mb-2);
}

/** ------ ¡New! Social Media icons ------ */

.footer__social i {
  color: var(--text-color);
}

.footer__social-link {
  font-size: 1.2rem;
  margin-right: var(--mb-1-25);
  width: max-content;
}

.footer__social .fab.fa-twitter:hover {
  color: var(--color-twitter);
}

.footer__social .fab.fa-instagram:hover {
  border-radius: 5px;
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.footer__social .fab.fa-whatsapp:hover {
  font-size: 20px;
  color: var(--color-whatsapp);
}
/** ------ ¡end! Social Media icons ------ */

.footer__subtitle {
  margin-bottom: var(--mb-1);
}

.footer__item {
  margin-bottom: var(--mb-0-75);
}

.footer__item [class*="fa-"] {
  color: var(--text-color-light);
}

.footer__item span {
  margin-bottom: var(--mb-0-75);
  font-size: var(--small-font-size);
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__link-mail {
  color: var(--text-color);
}

.footer__link-mail:hover {
  color: var(--text-color-light);
}

/** -------- Copyright ------ */

.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer__copy,
.footer__terms-link {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.footer__copy a {
  color: var(--text-color-light);
  text-decoration: underline;
}

.footer__copy a:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* .footer__copy span {
  font-size: var(--minimal-font-size);
} */

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

.footer__terms-link:hover {
  color: var(--text-color);
}

/** ========= SCROLL UP (Icono flecha subir) ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  /** Temporal, solo para codificar bien el botón, luego se esconde y manipula con JS y la clase "show-scroll" */
  /* bottom: 5rem; */
  bottom: -20%;
  background-color: var(--first-color);
  padding: 0.5rem;
  display: flex;
  opacity: 0.9;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

/** Show scroll */
.show-scroll {
  bottom: 5rem;
}

/** =============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/**! =============== MEDIA QUERIES ===============*/

/** For small devices */
@media screen and (max-width: 340px) {
  .place__container {
    /* grid-template-columns: max-content; */
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .home__info {
    width: 190px;
    padding: 1rem;
  }
  .experience__content {
    padding: 0;
  }
  .experience__overlay:nth-child(1) {
    width: 190px;
  }
  .experience__overlay:nth-child(2) {
    width: 80px;
  }
  .experience__img,
  .video__container {
    padding: 0;
  }
}

/** For medium devices */
@media screen and (min-width: 568px) {
  .video__container {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .subscribe__form {
    width: 470px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    color: var(--white-color);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .nav__dark {
    position: initial;
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .change-theme-name {
    display: none;
  }
  .change-theme {
    color: var(--white-color);
  }
  .active-link::before {
    background-color: var(--white-color);
  }
  .scroll-header .nav__link {
    color: var(--text-color);
  }
  .scroll-header .active-link {
    color: var(--title-color);
  }
  .scroll-header .active-link::before {
    background-color: var(--title-color);
  }
  .scroll-header .change-theme {
    color: var(--text-color);
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr 0.5fr;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 3rem;
    column-gap: 2.5rem;
  }
  .home__info {
    bottom: 3rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data,
  .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: var(--mb-1-5);
  }
  .about__description {
    margin-bottom: var(--mb-2);
  }
  .services__container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .services__container {
    padding-top: 2rem;
  }

  .place__container {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
  }

  .experience__overlay:nth-child(1) {
    width: 363px;
    margin-right: 4rem;
  }
  .experience__overlay:nth-child(2) {
    width: 160px;
  }
  .subscribe__bg {
    background: none;
    padding: 0;
  }
  .subscribe__container {
    background-color: var(--first-color-second);
    padding: 3.5rem 0;
  }
  .subscribe__input {
    padding: 0 0.5rem;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}

/** For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    grid-template-rows: 2fr 0.5fr;
  }
  .home__info {
    width: 328px;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  .home__info-title {
    font-size: var(--normal-font-size);
  }
  .home__info-img {
    width: 240px;
  }
  .about__img-one {
    width: 230px;
  }
  .about__img-two {
    width: 290px;
  }
  .services__card {
    width: 237px;
  }
  .services__container {
    width: 700px;
  }
  .services__data {
    left: 1.5rem;
    bottom: 2rem;
  }
  .services__title {
    font-size: var(--h2-font-size);
  }
  .experience__content {
    margin: var(--mb-1) 0;
    column-gap: 3.5rem;
  }
  .experience__overlay:nth-child(1) {
    width: 463px;
    margin-right: 7rem;
  }
  .experience__overlay:nth-child(2) {
    width: 220px;
    top: 3rem;
  }
  .video__container {
    grid-template-columns: 0.7fr;
  }
  .video__description {
    padding: 0 8rem;
  }

  .place__container {
    gap: 3rem 2rem;
  }
  .place__card,
  .place__img {
    /* height: 263px; */
    height: 100%;
  }

  .footer__content {
    justify-items: center;
  }

  /** SWIPER. Aumento del tamaño de las imagenes para viewport tipo Desktop */

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }

  /** SWIPER. Se re-inserta el contenido o texto dentro de la Card con la imagen aumentada  */
  .services__data {
    position: absolute;
    bottom: 10rem;
    left: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

/** For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
  .home__container,
  .home__img {
    height: 640px;
  }
}

/** Hidden styles for video on mobiles*/
/** --------------------------------- */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .div-desktop {
    display: none;
  }
  .div-mobile {
    display: block;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .div-desktop-place {
    display: none;
  }
  .div-mobile-place {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .videoBx {
    background: transparent;
    min-height: 100vh;
  }
  .nav__logo,
  .nav__toggle {
    color: var(--first-color);
  }
  .home__data-subtitle,
  .home__data-title,
  .home__social-link,
  .home__info {
    color: var(--first-color);
  }
  .contenedor-clientes {
    height: auto;
  }
  .box-titulo-clientes {
    display: none;
  }
  .slider {
    height: 250px;
  }
  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 0%
    );
  }
  .slider .slide {
    height: 250px;
    width: 250px;
    margin: 60px 0;
  }
  .slide img {
    width: 150px;
    height: 150px;
  }
}

/** Show styles for video on desktop */
/** -------------------------------- */

@media screen and (min-width: 769px) and (max-width: 3000px) {
  .div-desktop {
    display: block;
  }
  .div-mobile {
    display: none;
  }
  .div-desktop-place {
    display: grid;
  }
  .div-mobile-place {
    display: none;
  }
}
